<header>
  <breadcrumb></breadcrumb>
  <img class="branding" src="images/logo_RHD_RGB_default.svg"/>
</header>

<main class="col-sm-12">
  <div class="col-sm-12">
    <h3>Installation Details{{checkboxModel.jdk.selected}}</h3>
    <ng-repeat ng-repeat="progress in data">
      <div>
        <progress-bar progress="progress">
        </progress-bar>
      </div>
    </ng-repeat>
  </div>
</main>

<div class="greyed-out-background" ng-show="instCtrl.failedDownloads.size > 0 || instCtrl.failedInstalls.size > 0"></div>
<div class="close-modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" ng-show="instCtrl.failedDownloads.size > 0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close" ng-click="instCtrl.closeDownloadAgainDialog()"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <span id="tcIcon" class="pficon pficon-error-circle-o"></span>
        <strong id="tcMessage" class="error">Oops. Something went wrong</strong>
        <p>The download failed. Please check if you have internet access,
          connected to VPN, have correct configuration for proxy server.
          Try to download again after problem is fixed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="instCtrl.downloadAgain()">Download Again</button>
      </div>
    </div>
  </div>
</div>

<div class="close-modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" ng-show="instCtrl.getFailedInstalls().length > 0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close" ng-click="instCtrl.closeDownloadAgainDialog()"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <span id="tcIcon" class="pficon pficon-error-circle-o"></span>
        <strong id="tcMessage" class="error">Component(s) failed to install.</strong>

        <div class="list-group">
          <ul>
            <li ng-repeat="(key, value) in failures" class="list-group-item">
              <strong>{{data[key].productName}}</strong> reports the following error:
              <ul class="list-group-item">
               <li>{{value.error}}</li>
              </ul>
              <div ng-show="value.blocked.length > 0">
                The following components require {{data[key].productName}} to be installed in order to proceed:
                <ul class="list-group-item">
                  <li ng-repeat="component in value.blocked"><strong>{{data[component].productName}}</strong></li>
                </ul>
              </div>

              <div ng-show="value.queue.length > 0">
                The following components are queued to install after {{data[key].productName}} has finished, but their installation does not require it:
                <ul class="list-group-item">
                  <li ng-repeat="component in value.queue">{{data[component].productName}}</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="instCtrl.cancelFailedInstalls()">Cancel Item</button>
        <button type="button" class="btn btn-primary" ng-click="instCtrl.exit()">Exit Installer</button>
      </div>
    </div>
  </div>
</div>
